* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

header {
    width: 100vw;
    height: 60px;
    background-color: #111111;

    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo {
        font-size: 1.2em;
        color: #fff;
    }

    button {
        background: transparent;
        border: none;

        i {
            color: #fff;
            font-size: 1.3rem;
        }
    }

    .nav-list {
        width: 80%;
        height: calc(100% - 60px);
        background-color: #111111;
        
        right: 0;
        top: 60px;
        padding: 0 10px;

        display: none;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        text-align: center;

        li a {
            color: #fff;
        }

        &.show {
            display: flex;
        }
    }
}

@media (min-width: 769px) {
    header {
        button {
            display: none;
        }

        .nav-list {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: row;
            top: 0;
            align-items: center;
            gap: 3rem;

            li a {
                padding: 10px;
            }
        }
    }
}