* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #74cf6c;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .container {
        padding: 40px;
        background-color: #fff;
        border-radius: 10px;
        text-align: center;

        h3 {
            font-size: 1.3rem;
            margin-bottom: 30px;
        }

        h1 {
            font-size: 6.2rem;
        }

        .buttons {
            display: flex;
            gap: 1rem;
            margin-top: 25px;
            margin-bottom: 20px;

            button {
                cursor: pointer;
                padding: 8px 20px;
                border-radius: 7px;
                border: none;
                font-size: 1rem;
                color: #fff;

            }
            .subtrair{
                background-color: #ec3a3a;

                &.disable {
                    background-color: #ccc;
                    pointer-events: none;
                }
            }

            .limpar {
                background-color: #4a4dff;
            }

            .adicionar {
                background-color: #1a8823;

            }
        }
    }
}
