* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
}

h1 {
    font-size: 1.3rem;
    text-align: center;
}

form {
display: flex;
flex-direction: column;
}

label {
    margin-top: 30px;
    margin-bottom: 4px;
    color: #494444;
}

input {
    padding: 8px;
    background-color: #e2e2e2;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none; 
}

button {
    margin-top: 30px;
    padding: 10px;
    border: none;
    background-color: #59c45f;
    font-size: 0.9rem;
    font-weight: bold;
}

